
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #9B786F;
      --secondary-color: #D4A5A5;
    
  --color-primary: #9B786F;
  --color-secondary: #D4A5A5;

  --background-gradient: linear-gradient(to bottom right, #f7f7f7, #e5e5e5);
  --card-shadow: 8px 8px 16px rgba(174,174,192,0.4), -8px -8px 16px rgba(255,255,255,0.8);
  --card-shadow-hover: inset 8px 8px 16px rgba(174,174,192,0.2), inset -8px -8px 16px rgba(255,255,255,0.6);
  --icon-shadow: 4px 4px 10px rgba(155,120,111,0.3), -4px -4px 10px rgba(255,255,255,0.8);
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }